html, body{
    margin: 0px;
    padding: 0px;
}

body > .container-fluid{
    min-height: 100vh;
    height: 100%;
}

// Turn-off arrows on number inputs
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// Turn-off arrows on date inputs
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}